.App {

}

.App>header {
  background-color: #2C2C2C;
  height: 65px;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.App>header #logo {
  display: inline-block;
  margin: 0 10px;
  width: 40px;
  height: auto;
}

.App>header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  flex-grow: 1;
}

.App>header #close {
  height: 20px;
  width: auto;
  margin: 0 10px;
}